*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

main {
  margin: 2rem auto;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

h1 {
  font-size: 3rem;
  color: rgba(2, 17, 221, 0.733);
}

h3 {
  color: rgba(2, 17, 221, 0.733);
}

button {
  margin: 1rem auto;
  width: 10rem;
  height: 2.8rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: aliceblue;
  cursor: pointer;
}

#content {
  max-width: 40rem;
  max-height: 40rem;
  border: 0.5rem solid black;
}

.memeContainer {
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.dark {
  background-color: rgba(70, 70, 70, 0.822);
}

#imgToggle {
  width: 4rem;
}

.svg {
  display: flex;
  display: inline-block;
}

.hide {
  display: none;
}
